<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/style.css">
  <%- include('favicon.html') %>
  <title><%= title %></title>
  <% if (env === "development") { %>
  <script src="http://localhost:35729/livereload.js"></script> 
  <% } %>
</head>
<body class="primary-bg body_404" >
    <div class="container_404">
  <h1 class="text-clr"><%= title %></h1>
  <p class="text-clr">Oops! The page you’re looking for doesn’t exist.</p>
  <a class="text-clr" href="/">Return to Home</a>
    </div>
</body>
</html>
